:root {
  /* Colores base */
  --color-bg:           #1a1a14;
  --color-bg-card:      #23231a;
  --color-bg-input:     #1a1a12;

  /* Bordes */
  --color-border:       #3a3a28;
  --color-border-focus: #9c843b;

  /* Texto */
  --color-text:         #d4c47a;
  --color-text-muted:   #8a8762;
  --color-text-dim:     #6b6b50;
  --color-text-faint:   #4a4a36;

  /* Acento dorado */
  --color-gold:         #b39028;
  --color-gold-light:   #ac9145c7;
  --color-gold-bg:      rgba(184, 150, 46, 0.08);

  /* Estados */
  --color-error:        #a5473d;
  --color-success:      #51a155;
  --color-warning:      #cf973d;

  --color-error-bg: rgba(165, 71, 61, 0.10);

  --color-success-bg: rgba(81, 161, 85, 0.15);

  --color-warning-bg: rgba(207, 151, 61, 0.12);

  --color-offline: #f59e0b;
  --color-offline-bg: rgb(221, 66, 45);
  --color-offline-total-bg: rgba(148, 50, 37, 0.158);

  /* Tipografía */
  --font-main:          'Rajdhani', sans-serif;
  --font-mono:          'Share Tech Mono', monospace;

  /* Espaciado */
  --radius-sm:          3px;
  --radius-md:          10px;

  /* Espaciado estándar de página */
  --page-padding:    2rem;
  --sidebar-width:   220px;

  /* Tamaños de fuente centralizados */
    --text-xs: 0.65rem;
    --text-sm: 0.75rem;
    --text-md: 0.85rem;
    --text-base: 1rem;
    --text-lg: 1.3rem;
    --text-xl: 1.6rem;
    --text-xxl: 2rem;
    --text-xxxl: 2.5rem;

    --text-title: 8rem;

    /* Espaciado extra para estandarizar */
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
}
